In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt

In [2]:
f1 = open("/Users/shreyassrinivasan/Desktop/SF_Project/2016_Flight_Data/f2016.csv")
df1 = pd.read_csv(f1)

In [3]:
f2 = open("/Users/shreyassrinivasan/Desktop/SF_Project/2017_Flight_Data/f2017.csv")
df2 = pd.read_csv(f2)

In [4]:
f3 = open("/Users/shreyassrinivasan/Desktop/SF_Project/Weather_Data/w2016.csv")
df3 = pd.read_csv(f3)

In [5]:
f4 = open("/Users/shreyassrinivasan/Desktop/SF_Project/Weather_Data/w2017.csv")
df4 = pd.read_csv(f4)

In [6]:
df1['ArrFlightDate'] = df1['FlightDate']
df1['ArrFlightDate'] = pd.to_datetime(df1['ArrFlightDate'])
df1['FlightDate'] = pd.to_datetime(df1['FlightDate'])

In [7]:
df2['ArrFlightDate'] = df2['FlightDate']
df2['ArrFlightDate'] = pd.to_datetime(df2['ArrFlightDate'])
df2['FlightDate'] = pd.to_datetime(df2['FlightDate'])

In [8]:
df1['ArrAbsTime'] = df1['CRSArrTime']
for index, row in df1.iterrows():
    remainder = row["ArrAbsTime"]%100
    absoluteTime = row["ArrAbsTime"] - remainder
    df1.at[index,"ArrAbsTime"] = absoluteTime
    if(row["CRSDepTime"] > row["CRSArrTime"]):
        df1.at[index,"ArrFlightDate"] = row["FlightDate"] + pd.DateOffset(days=1)

In [9]:
df1['ArrAbsTime'] = df1['ArrAbsTime'].astype(np.int64)

In [10]:
for index,row in df1.iterrows():
    if(row["CRSArrTime"]==2400):
        df1.at[index,"CRSArrTime"]=0
        df1.at[index,"ArrAbsTime"]=0

In [11]:
df1["DepAbsTime"] = df1["CRSDepTime"]
for index, row in df1.iterrows():
    remainder = row["DepAbsTime"]%100
    absolutetime = row["DepAbsTime"] - remainder
    df1.at[index,"DepAbsTime"] = absolutetime

In [12]:
df1['DepAbsTime'] = df1['DepAbsTime'].astype(np.int64)

In [13]:
df2['ArrAbsTime'] = df2['CRSArrTime']
for index, row in df2.iterrows():
    remainder = row["ArrAbsTime"]%100
    absoluteTime = row["ArrAbsTime"] - remainder
    df2.at[index,"ArrAbsTime"] = absoluteTime
    if(row["CRSDepTime"] > row["CRSArrTime"]):
        df2.at[index,"ArrFlightDate"] = row["FlightDate"] + pd.DateOffset(days=1)

In [14]:
df2['ArrAbsTime'] = df2['ArrAbsTime'].astype(np.int64)

In [15]:
for index,row in df2.iterrows():
    if(row["CRSArrTime"]==2400):
        f.at[index,"CRSArrTime"]=0
        f.at[index,"ArrAbsTime"]=0

In [16]:
df2["DepAbsTime"] = df2["CRSDepTime"]
for index, row in df2.iterrows():
    remainder = row["DepAbsTime"]%100
    absolutetime = row["DepAbsTime"] - remainder
    df2.at[index,"DepAbsTime"] = absolutetime

In [17]:
df2['DepAbsTime'] = df2['DepAbsTime'].astype(np.int64)

In [18]:
Flight_Data = pd.concat([df1,df2],join='outer',ignore_index=True)

In [19]:
Flight_Data

,Unnamed: 0,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,...,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,ArrFlightDate,ArrAbsTime,DepAbsTime
0,0,2016,4,12,18,2016-12-18,13487,MSP,13930,ORD,...,1556.0,0.0,0.0,1734,1754.0,20.0,1.0,2016-12-18,1700,1500
1,1,2016,4,12,19,2016-12-19,13487,MSP,13930,ORD,...,1555.0,0.0,0.0,1734,1754.0,20.0,1.0,2016-12-19,1700,1500
2,2,2016,4,12,20,2016-12-20,13487,MSP,13930,ORD,...,1555.0,0.0,0.0,1734,1731.0,0.0,0.0,2016-12-20,1700,1500
3,3,2016,4,12,21,2016-12-21,13487,MSP,13930,ORD,...,1555.0,0.0,0.0,1734,1724.0,0.0,0.0,2016-12-21,1700,1500
4,4,2016,4,12,22,2016-12-22,13487,MSP,13930,ORD,...,1600.0,2.0,0.0,1734,1726.0,0.0,0.0,2016-12-22,1700,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11292274,5674616,2017,1,2,7,2017-02-07,12339,IND,12889,LAS,...,1041.0,0.0,0.0,1150,1145.0,0.0,0.0,2017-02-07,1100,1000
11292275,5674617,2017,1,2,7,2017-02-07,12339,IND,12889,LAS,...,1800.0,0.0,0.0,1920,1922.0,2.0,0.0,2017-02-07,1900,1800
11292276,5674618,2017,1,2,7,2017-02-07,12339,IND,12892,LAX,...,1208.0,0.0,0.0,1345,1344.0,0.0,0.0,2017-02-07,1300,1200
11292277,5674619,2017,1,2,7,2017-02-07,12339,IND,12953,LGA,...,544.0,0.0,0.0,755,733.0,0.0,0.0,2017-02-07,700,500
11292278,5674620,2017,1,2,7,2017-02-07,12339,IND,12953,LGA,...,1523.0,0.0,0.0,1720,1719.0,0.0,0.0,2017-02-07,1700,1500

In [20]:
for i in Flight_Data.columns:
    print(i)

Unnamed: 0
Year
Quarter
Month
DayofMonth
FlightDate
OriginAirportID
Origin
DestAirportID
Dest
CRSDepTime
DepTime
DepDelayMinutes
DepDel15
CRSArrTime
ArrTime
ArrDelayMinutes
ArrDel15
ArrFlightDate
ArrAbsTime
DepAbsTime

In [21]:
df3.date = pd.to_datetime(df3.date)
df4.date = pd.to_datetime(df4.date)

In [22]:
Weather_Data = pd.concat([df3,df4],join = 'outer',ignore_index=True)

In [23]:
Weather_Data

,Unnamed: 0,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airport
0,0,10,209,122,0.0,10,1012,99,60,14,63,63,90,2016-02-01,0,IAH
1,1,8,209,122,0.0,10,1012,99,60,11,63,63,90,2016-02-01,100,IAH
2,2,6,209,122,0.0,10,1012,100,60,9,63,63,90,2016-02-01,200,IAH
3,3,5,209,122,0.1,10,1012,100,60,6,63,63,90,2016-02-01,300,IAH
4,4,5,195,122,0.1,10,1012,100,60,6,62,62,90,2016-02-01,400,IAH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263155,131395,19,110,113,0.0,10,1018,0,74,22,87,87,65,2017-05-31,1900,MIA
263156,131396,18,110,113,0.0,10,1018,0,74,21,86,86,67,2017-05-31,2000,MIA
263157,131397,17,110,113,0.0,10,1018,0,74,20,85,85,69,2017-05-31,2100,MIA
263158,131398,15,113,113,0.0,10,1018,8,73,19,84,84,70,2017-05-31,2200,MIA
263159,131399,14,116,119,0.0,10,1018,15,73,18,84,84,70,2017-05-31,2300,MIA

In [24]:
for i in Weather_Data.columns:
    print(i)

Unnamed: 0
windspeedKmph
winddirDegree
weatherCode
precipMM
visibility
pressure
cloudcover
DewPointF
WindGustKmph
tempF
WindChillF
humidity
date
time
airport

In [25]:
merge1 = Flight_Data.merge(Weather_Data,left_on=["FlightDate","DepAbsTime","Origin"],right_on=["date","time","airport"])

In [26]:
merge1

,Unnamed: 0_x,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airport
0,44,2016,4,12,1,2016-12-01,11298,DFW,15016,STL,...,1018,0,27,23,63,61,27,2016-12-01,1600,DFW
1,529,2016,4,12,1,2016-12-01,11298,DFW,12892,LAX,...,1018,0,27,23,63,61,27,2016-12-01,1600,DFW
2,1079,2016,4,12,1,2016-12-01,11298,DFW,14683,SAT,...,1018,0,27,23,63,61,27,2016-12-01,1600,DFW
3,15302,2016,4,12,1,2016-12-01,11298,DFW,10713,BOI,...,1018,0,27,23,63,61,27,2016-12-01,1600,DFW
4,18125,2016,4,12,1,2016-12-01,11298,DFW,11278,DCA,...,1018,0,27,23,63,61,27,2016-12-01,1600,DFW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5055654,5674259,2017,1,2,7,2017-02-07,11292,DEN,14747,SEA,...,1003,8,27,5,43,43,52,2017-02-07,2100,DEN
5055655,5674262,2017,1,2,7,2017-02-07,11292,DEN,14771,SFO,...,1003,8,27,5,43,43,52,2017-02-07,2100,DEN
5055656,5674272,2017,1,2,7,2017-02-07,11292,DEN,14869,SLC,...,1003,8,27,5,43,43,52,2017-02-07,2100,DEN
5055657,5674275,2017,1,2,7,2017-02-07,11292,DEN,14893,SMF,...,1003,8,27,5,43,43,52,2017-02-07,2100,DEN
5055658,5674294,2017,1,2,7,2017-02-07,11292,DEN,15376,TUS,...,1003,8,27,5,43,43,52,2017-02-07,2100,DEN

In [27]:
merge1.to_csv("/Users/shreyassrinivasan/Desktop/SF_Project/merge1.csv")

In [28]:
for i in merge1.columns:
    print(i)

Unnamed: 0_x
Year
Quarter
Month
DayofMonth
FlightDate
OriginAirportID
Origin
DestAirportID
Dest
CRSDepTime
DepTime
DepDelayMinutes
DepDel15
CRSArrTime
ArrTime
ArrDelayMinutes
ArrDel15
ArrFlightDate
ArrAbsTime
DepAbsTime
Unnamed: 0_y
windspeedKmph
winddirDegree
weatherCode
precipMM
visibility
pressure
cloudcover
DewPointF
WindGustKmph
tempF
WindChillF
humidity
date
time
airport

In [29]:
merge2 = merge1.merge(Weather_Data,left_on=["ArrFlightDate","ArrAbsTime","Dest"],right_on=["date","time","airport"])

In [30]:
merge2

,Unnamed: 0_x,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,...,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,date_y,time_y,airport_y
0,529,2016,4,12,1,2016-12-01,11298,DFW,12892,LAX,...,1014,0,59,10,69,67,73,2016-12-01,1700,LAX
1,243575,2016,4,12,1,2016-12-01,11298,DFW,12892,LAX,...,1014,0,59,10,69,67,73,2016-12-01,1700,LAX
2,33638,2016,4,12,1,2016-12-01,13930,ORD,12892,LAX,...,1014,0,59,10,69,67,73,2016-12-01,1700,LAX
3,64939,2016,4,12,1,2016-12-01,13303,MIA,12892,LAX,...,1014,0,59,10,69,67,73,2016-12-01,1700,LAX
4,63972,2016,4,12,1,2016-12-01,14771,SFO,12892,LAX,...,1014,0,59,10,69,67,73,2016-12-01,1700,LAX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877189,5587516,2017,1,2,25,2017-02-25,11298,DFW,14107,PHX,...,1014,100,32,10,57,57,39,2017-02-26,0,PHX
1877190,5604625,2017,1,2,19,2017-02-19,12889,LAS,12892,LAX,...,1010,100,51,5,52,52,95,2017-02-19,600,LAX
1877191,5631975,2017,1,2,18,2017-02-18,12889,LAS,12892,LAX,...,1000,100,50,32,53,49,92,2017-02-18,600,LAX
1877192,5660860,2017,1,2,25,2017-02-25,12889,LAS,12892,LAX,...,1020,36,45,13,47,45,93,2017-02-25,600,LAX
1877193,5663924,2017,1,2,26,2017-02-26,12889,LAS,12892,LAX,...,1016,90,47,5,52,52,85,2017-02-26,600,LAX

In [31]:
for i in merge2.columns:
    print(i)

Unnamed: 0_x
Year
Quarter
Month
DayofMonth
FlightDate
OriginAirportID
Origin
DestAirportID
Dest
CRSDepTime
DepTime
DepDelayMinutes
DepDel15
CRSArrTime
ArrTime
ArrDelayMinutes
ArrDel15
ArrFlightDate
ArrAbsTime
DepAbsTime
Unnamed: 0_y
windspeedKmph_x
winddirDegree_x
weatherCode_x
precipMM_x
visibility_x
pressure_x
cloudcover_x
DewPointF_x
WindGustKmph_x
tempF_x
WindChillF_x
humidity_x
date_x
time_x
airport_x
Unnamed: 0
windspeedKmph_y
winddirDegree_y
weatherCode_y
precipMM_y
visibility_y
pressure_y
cloudcover_y
DewPointF_y
WindGustKmph_y
tempF_y
WindChillF_y
humidity_y
date_y
time_y
airport_y

In [32]:
merge2.to_csv("/Users/shreyassrinivasan/Desktop/SF_Project/merge_final.csv")