In [1]:
import pandas as pd
import numpy as np
import json as js
import os
import datetime as dt

In [9]:
"""
path_2016 = "/Users/shreyassrinivasan/Desktop/SF_Project/2016_Flight_Data/"
df_2016 = []
dataframe2016 = []
for i in os.listdir(path_2016):
    if(i != ".DS_Store"):
        for j in os.listdir(path_2016 + "/" + i):
            if(".csv" in j):
                df_2016.append(path_2016 + "/" + i + "/" + j)
#for i in df_2016:
    #print(i)
for i in df_2016:
    dataframe2016.append(pd.read_csv(i))
df = pd.concat(dataframe2016,ignore_index = True)

"""

/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (48,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,4,12,18,7,2016-12-18,AA,19805,AA,N3JHAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,4,12,19,1,2016-12-19,AA,19805,AA,N3DPAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,4,12,20,2,2016-12-20,AA,19805,AA,N3KUAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,4,12,21,3,2016-12-21,AA,19805,AA,N3FBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,4,12,22,4,2016-12-22,AA,19805,AA,N3BLAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617653,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617654,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617655,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617656,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617657,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
for i in df.columns:
    print(i)

Year
Quarter
Month
DayofMonth
DayOfWeek
FlightDate
UniqueCarrier
AirlineID
Carrier
TailNum
FlightNum
OriginAirportID
OriginAirportSeqID
OriginCityMarketID
Origin
OriginCityName
OriginState
OriginStateFips
OriginStateName
OriginWac
DestAirportID
DestAirportSeqID
DestCityMarketID
Dest
DestCityName
DestState
DestStateFips
DestStateName
DestWac
CRSDepTime
DepTime
DepDelay
DepDelayMinutes
DepDel15
DepartureDelayGroups
DepTimeBlk
TaxiOut
WheelsOff
WheelsOn
TaxiIn
CRSArrTime
ArrTime
ArrDelay
ArrDelayMinutes
ArrDel15
ArrivalDelayGroups
ArrTimeBlk
Cancelled
CancellationCode
Diverted
CRSElapsedTime
ActualElapsedTime
AirTime
Flights
Distance
DistanceGroup
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
FirstDepTime
TotalAddGTime
LongestAddGTime
DivAirportLandings
DivReachedDest
DivActualElapsedTime
DivArrDelay
DivDistance
Div1Airport
Div1AirportID
Div1AirportSeqID
Div1WheelsOn
Div1TotalGTime
Div1LongestGTime
Div1WheelsOff
Div1TailNum
Div2Airport
Div2AirportID
Div2AirportSeqID
Div2WheelsOn
Div2TotalGTime
Div2LongestGTime
Div2WheelsOff
Div2TailNum
Div3Airport
Div3AirportID
Div3AirportSeqID
Div3WheelsOn
Div3TotalGTime
Div3LongestGTime
Div3WheelsOff
Div3TailNum
Div4Airport
Div4AirportID
Div4AirportSeqID
Div4WheelsOn
Div4TotalGTime
Div4LongestGTime
Div4WheelsOff
Div4TailNum
Div5Airport
Div5AirportID
Div5AirportSeqID
Div5WheelsOn
Div5TotalGTime
Div5LongestGTime
Div5WheelsOff
Div5TailNum
Unnamed: 109

In [24]:
"""
columns_flightdata = ['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes','Origin','Dest']
x = []
for i in df.columns:
    if i not in columns_flightdata:
        y = df.columns.get_loc(i)
        x.append(y)
df.drop(df.columns[x],axis = 1,inplace = True)
"""

In [25]:
df

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15
0,2016,4,12,18,2016-12-18,13487,MSP,13930,ORD,1558,1556.0,0.0,0.0,1734,1754.0,20.0,1.0
1,2016,4,12,19,2016-12-19,13487,MSP,13930,ORD,1558,1555.0,0.0,0.0,1734,1754.0,20.0,1.0
2,2016,4,12,20,2016-12-20,13487,MSP,13930,ORD,1558,1555.0,0.0,0.0,1734,1731.0,0.0,0.0
3,2016,4,12,21,2016-12-21,13487,MSP,13930,ORD,1558,1555.0,0.0,0.0,1734,1724.0,0.0,0.0
4,2016,4,12,22,2016-12-22,13487,MSP,13930,ORD,1558,1600.0,2.0,0.0,1734,1726.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617653,2016,1,1,3,2016-01-03,11292,DEN,14869,SLC,1245,1240.0,0.0,0.0,1409,1404.0,0.0,0.0
5617654,2016,1,1,3,2016-01-03,11292,DEN,11278,DCA,1649,1728.0,39.0,1.0,2159,2241.0,42.0,1.0
5617655,2016,1,1,3,2016-01-03,11292,DEN,11775,FSD,1020,1038.0,18.0,1.0,1250,1301.0,11.0,0.0
5617656,2016,1,1,3,2016-01-03,11775,FSD,11292,DEN,1335,1358.0,23.0,1.0,1426,1429.0,3.0,0.0
5617657,2016,1,1,3,2016-01-03,11003,CID,11292,DEN,1909,1900.0,0.0,0.0,2029,2000.0,0.0,0.0

In [26]:
#df.to_csv("/Users/shreyassrinivasan/Desktop/SF_Project/2016_Flight_Data/f2016.csv")

In [28]:
"""
path_2017 = "/Users/shreyassrinivasan/Desktop/SF_Project/2017_Flight_Data/"
df_2017 = []
dataframe2017 = []
for i in os.listdir(path_2017):
    if(i != ".DS_Store"):
        for j in os.listdir(path_2017 + "/" + i):
            if(".csv" in j):
                df_2017.append(path_2017 + "/" + i + "/" + j)
#for i in df_2017:
    #print(i)
for i in df_2017:
    dataframe2017.append(pd.read_csv(i))
dg = pd.concat(dataframe2017,ignore_index = True)
"""

/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/shreyassrinivasan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (48,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
"""
x1 = []
for i in dg.columns:
    if i not in columns_flightdata:
        y = dg.columns.get_loc(i)
        x1.append(y)
dg.drop(dg.columns[x1],axis = 1,inplace = True)
"""

In [30]:
dg

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15
0,2017,4,12,1,2017-12-01,12892,LAX,14262,PSP,1855,1842.0,0.0,0.0,1955,1931.0,0.0,0.0
1,2017,4,12,1,2017-12-01,12892,LAX,14570,RNO,835,827.0,0.0,0.0,1017,1000.0,0.0,0.0
2,2017,4,12,1,2017-12-01,12892,LAX,14679,SAN,1200,1151.0,0.0,0.0,1254,1238.0,0.0,0.0
3,2017,4,12,1,2017-12-01,13930,ORD,15412,TYS,735,727.0,0.0,0.0,1012,959.0,0.0,0.0
4,2017,4,12,1,2017-12-01,10140,ABQ,11292,DEN,1725,1711.0,0.0,0.0,1850,1827.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674616,2017,1,2,7,2017-02-07,12339,IND,12889,LAS,1045,1041.0,0.0,0.0,1150,1145.0,0.0,0.0
5674617,2017,1,2,7,2017-02-07,12339,IND,12889,LAS,1805,1800.0,0.0,0.0,1920,1922.0,2.0,0.0
5674618,2017,1,2,7,2017-02-07,12339,IND,12892,LAX,1215,1208.0,0.0,0.0,1345,1344.0,0.0,0.0
5674619,2017,1,2,7,2017-02-07,12339,IND,12953,LGA,550,544.0,0.0,0.0,755,733.0,0.0,0.0
5674620,2017,1,2,7,2017-02-07,12339,IND,12953,LGA,1525,1523.0,0.0,0.0,1720,1719.0,0.0,0.0

In [31]:
#dg.to_csv("/Users/shreyassrinivasan/Desktop/SF_Project/2017_Flight_Data/f2017.csv")

In [6]:
path_weather = "/Users/shreyassrinivasan/Desktop/SF_Project/Weather_Data/"
w_2016 = []
w_2017 = []
for i in os.listdir(path_weather):
    if(i != ".DS_Store"):
        #print(i)
        for j in os.listdir(path_weather + i):
            #print(j)
            if('2016' in j):
                temp = js.load(open(path_weather + i + "/" + j))
                for k in temp["data"]["weather"]:
                    tempdata = pd.DataFrame(k['hourly'],columns = ['windspeedKmph','winddirDegree','weatherCode','precipMM','visibility','pressure','cloudcover','DewPointF','WindGustKmph','tempF','WindChillF','humidity','date','time','airport'])
                    tempdata['date'] = k['date']
                    tempdata['airport'] = i
                    w_2016.append(tempdata)
            if('2017' in j):
                temp = js.load(open(path_weather + i + "/" + j))
                for k in temp["data"]["weather"]:
                    tempdata = pd.DataFrame(k['hourly'],columns = ['windspeedKmph','winddirDegree','weatherCode','precipMM','visibility','pressure','cloudcover','DewPointF','WindGustKmph','tempF','WindChillF','humidity','date','time','airport'])
                    tempdata['date'] = k['date']
                    tempdata['airport'] = i
                    w_2017.append(tempdata)

In [7]:
wdf_2016 = pd.concat(w_2016,ignore_index = True)
wdf_2017 = pd.concat(w_2017,ignore_index = True)

In [8]:
wdf_2016

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airport
0,10,209,122,0.0,10,1012,99,60,14,63,63,90,2016-02-01,0,IAH
1,8,209,122,0.0,10,1012,99,60,11,63,63,90,2016-02-01,100,IAH
2,6,209,122,0.0,10,1012,100,60,9,63,63,90,2016-02-01,200,IAH
3,5,209,122,0.1,10,1012,100,60,6,63,63,90,2016-02-01,300,IAH
4,5,195,122,0.1,10,1012,100,60,6,62,62,90,2016-02-01,400,IAH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131755,14,108,119,0.0,10,1017,80,68,21,73,72,87,2016-01-31,1900,MIA
131756,14,112,122,0.0,10,1018,82,69,21,72,72,90,2016-01-31,2000,MIA
131757,13,116,122,0.0,10,1018,84,69,22,71,71,93,2016-01-31,2100,MIA
131758,12,118,122,0.0,10,1018,80,69,22,71,71,93,2016-01-31,2200,MIA
131759,12,121,116,0.0,10,1018,75,68,23,71,71,93,2016-01-31,2300,MIA

In [9]:
wdf_2017

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airport
0,7,125,176,0.5,4,1016,27,73,13,75,75,95,2017-06-01,0,IAH
1,7,125,176,1.2,5,1015,34,73,13,75,75,94,2017-06-01,100,IAH
2,7,124,143,1.8,5,1015,41,73,14,74,75,94,2017-06-01,200,IAH
3,8,124,143,2.5,5,1015,48,73,14,74,75,94,2017-06-01,300,IAH
4,8,118,143,2.2,7,1015,53,72,14,73,74,93,2017-06-01,400,IAH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131395,19,110,113,0.0,10,1018,0,74,22,87,87,65,2017-05-31,1900,MIA
131396,18,110,113,0.0,10,1018,0,74,21,86,86,67,2017-05-31,2000,MIA
131397,17,110,113,0.0,10,1018,0,74,20,85,85,69,2017-05-31,2100,MIA
131398,15,113,113,0.0,10,1018,8,73,19,84,84,70,2017-05-31,2200,MIA
131399,14,116,119,0.0,10,1018,15,73,18,84,84,70,2017-05-31,2300,MIA

In [10]:
wdf_2016.to_csv("/Users/shreyassrinivasan/Desktop/SF_Project/Weather_Data/w2016.csv")
wdf_2017.to_csv("/Users/shreyassrinivasan/Desktop/SF_Project/Weather_Data/w2017.csv")