In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import metrics
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error # For Regression
from sklearn.ensemble import ExtraTreesRegressor

In [2]:
f = open('/Users/shreyassrinivasan/Desktop/SF_Project/pipeline.csv')
df = pd.read_csv(f)

In [3]:
f1 = open('/Users/shreyassrinivasan/Desktop/SF_Project/groundTruth.csv')
df1 = pd.read_csv(f1)

In [4]:
y = df1.copy()

In [5]:
y.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1851323,1851324,1851325,1851326,1851327,1851328,1851329,1851330,1851331,1851332
0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,1877184.0,1877185.0,1877186.0,1877187.0,1877188.0,1877189.0,1877190.0,1877191.0,1877192.0,1877193.0
0.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,15.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0

In [6]:
y = y.drop(['0'],axis=1)

In [7]:
y.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1851323,1851324,1851325,1851326,1851327,1851328,1851329,1851330,1851331,1851332
0.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,15.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0

In [8]:
y['0.0']

0          51.0
1           0.0
2           0.0
3           0.0
4           0.0
           ...
1851328     6.0
1851329     0.0
1851330     0.0
1851331     0.0
1851332     0.0
Name: 0.0, Length: 1851333, dtype: float64

In [9]:
x = df.copy()

In [10]:
x.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1851324,1851325,1851326,1851327,1851328,1851329,1851330,1851331,1851332,1851333
Unnamed: 0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,1877184.0,1877185.0,1877186.0,1877187.0,1877188.0,1877189.0,1877190.0,1877191.0,1877192.0,1877193.0
Year,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,...,2017.0,2017.0,2017.0,2017.0,2017.0,2017.0,2017.0,2017.0,2017.0,2017.0
Quarter,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Month,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
DayofMonth,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,12.0,11.0,10.0,4.0,11.0,25.0,19.0,18.0,25.0,26.0
OriginAirportID,11298.0,11298.0,13930.0,13303.0,14771.0,11292.0,14107.0,11057.0,11292.0,10397.0,...,14771.0,14771.0,14771.0,11298.0,11298.0,11298.0,12889.0,12889.0,12889.0,12889.0
DestAirportID,12892.0,12892.0,12892.0,12892.0,12892.0,12892.0,12892.0,12892.0,12892.0,12892.0,...,14747.0,14747.0,14747.0,14107.0,14107.0,14107.0,12892.0,12892.0,12892.0,12892.0
DepTime,1630.0,1650.0,1502.0,1424.0,1543.0,1624.0,1733.0,1451.0,1609.0,1520.0,...,556.0,543.0,548.0,2317.0,2319.0,2325.0,548.0,548.0,546.0,547.0
CRSArrTime,1758.0,1741.0,1747.0,1719.0,1725.0,1755.0,1745.0,1726.0,1730.0,1710.0,...,755.0,755.0,755.0,55.0,58.0,58.0,655.0,655.0,655.0,655.0
windspeedKmph_x,19.0,19.0,24.0,15.0,10.0,3.0,5.0,14.0,1.0,15.0,...,3.0,13.0,8.0,15.0,20.0,6.0,3.0,18.0,3.0,5.0
winddirDegree_x,169.0,169.0,257.0,140.0,117.0,111.0,278.0,275.0,132.0,292.0,...,83.0,320.0,246.0,171.0,188.0,122.0,201.0,138.0,97.0,335.0
weatherCode_x,113.0,113.0,119.0,116.0,113.0,113.0,116.0,113.0,113.0,113.0,...,248.0,176.0,248.0,122.0,113.0,122.0,122.0,296.0,113.0,113.0
precipMM_x,0.0,0.0,0.0,0.8,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.8,0.0,0.0,0.0,0.1,0.7,0.0,0.0
visibility_x,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,0.0,10.0,7.0,10.0,10.0,10.0,10.0,5.0,10.0,10.0
pressure_x,1018.0,1018.0,1012.0,1015.0,1020.0,1014.0,1013.0,1014.0,1014.0,1018.0,...,1023.0,1022.0,1015.0,1019.0,1012.0,1019.0,1006.0,1000.0,1022.0,1015.0
cloudcover_x,0.0,0.0,96.0,70.0,0.0,1.0,18.0,0.0,1.0,0.0,...,100.0,93.0,100.0,100.0,0.0,24.0,87.0,100.0,0.0,43.0
DewPointF_x,27.0,27.0,34.0,73.0,45.0,9.0,24.0,36.0,10.0,39.0,...,45.0,47.0,51.0,43.0,64.0,28.0,47.0,40.0,23.0,24.0
WindGustKmph_x,23.0,23.0,31.0,21.0,12.0,6.0,5.0,17.0,3.0,18.0,...,6.0,16.0,17.0,22.0,38.0,8.0,4.0,32.0,4.0,9.0
tempF_x,63.0,63.0,42.0,83.0,62.0,38.0,63.0,57.0,40.0,57.0,...,46.0,50.0,52.0,44.0,68.0,53.0,50.0,47.0,39.0,37.0
WindChillF_x,61.0,61.0,33.0,81.0,60.0,35.0,63.0,53.0,39.0,53.0,...,46.0,46.0,50.0,42.0,68.0,53.0,50.0,41.0,38.0,35.0
humidity_x,27.0,27.0,77.0,78.0,59.0,32.0,22.0,48.0,29.0,54.0,...,98.0,92.0,98.0,79.0,72.0,39.0,91.0,80.0,52.0,59.0
windspeedKmph_y,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,4.0,10.0,25.0,9.0,4.0,6.0,4.0,18.0,7.0,4.0
winddirDegree_y,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,...,97.0,189.0,189.0,44.0,340.0,46.0,78.0,109.0,61.0,206.0
weatherCode_y,113.0,113.0,113.0,113.0,113.0,113.0,113.0,113.0,113.0,113.0,...,122.0,122.0,122.0,113.0,122.0,122.0,143.0,353.0,116.0,263.0
precipMM_y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.1,0.0,0.0,0.0,0.0,2.1,0.0,0.5
visibility_y,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,10.0,10.0,9.0,10.0,10.0,10.0,2.0,8.0,10.0,3.0
pressure_y,1014.0,1014.0,1014.0,1014.0,1014.0,1014.0,1014.0,1014.0,1014.0,1014.0,...,1031.0,1027.0,1003.0,1015.0,1015.0,1014.0,1010.0,1000.0,1020.0,1016.0
cloudcover_y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,65.0,98.0,0.0,100.0,100.0,100.0,100.0,36.0,90.0
DewPointF_y,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,...,34.0,36.0,35.0,42.0,51.0,32.0,51.0,50.0,45.0,47.0
WindGustKmph_y,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,9.0,14.0,49.0,15.0,6.0,10.0,5.0,32.0,13.0,5.0
tempF_y,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,...,39.0,39.0,40.0,65.0,68.0,57.0,52.0,53.0,47.0,52.0
WindChillF_y,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,37.0,34.0,32.0,65.0,68.0,57.0,52.0,49.0,45.0,52.0
humidity_y,73.0,73.0,73.0,73.0,73.0,73.0,73.0,73.0,73.0,73.0,...,83.0,89.0,80.0,43.0,54.0,39.0,95.0,92.0,93.0,85.0
NewArrDel15,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
x = x.drop(['Unnamed: 0'],axis=1)

In [12]:
x = x.dropna()

In [16]:
min(y)

0.0

In [17]:
max(y)

2142.0

In [15]:
y = y.squeeze()

In [18]:
x['ArrDelayMinutes'] = y

In [19]:
x

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15,ArrDelayMinutes
0,2016,4,12,1,11298,12892,1630.0,1758,19,169,...,10,1014,0,59,10,69,67,73,0.0,51.0
1,2016,4,12,1,11298,12892,1650.0,1741,19,169,...,10,1014,0,59,10,69,67,73,1.0,0.0
2,2016,4,12,1,13930,12892,1502.0,1747,24,257,...,10,1014,0,59,10,69,67,73,0.0,0.0
3,2016,4,12,1,13303,12892,1424.0,1719,15,140,...,10,1014,0,59,10,69,67,73,0.0,0.0
4,2016,4,12,1,14771,12892,1543.0,1725,10,117,...,10,1014,0,59,10,69,67,73,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851329,2017,1,2,25,11298,14107,2325.0,58,6,122,...,10,1014,100,32,10,57,57,39,0.0,0.0
1851330,2017,1,2,19,12889,12892,548.0,655,3,201,...,2,1010,100,51,5,52,52,95,0.0,0.0
1851331,2017,1,2,18,12889,12892,548.0,655,18,138,...,8,1000,100,50,32,53,49,92,0.0,0.0
1851332,2017,1,2,25,12889,12892,546.0,655,3,97,...,10,1020,36,45,13,47,45,93,0.0,0.0
1851333,2017,1,2,26,12889,12892,547.0,655,5,335,...,3,1016,90,47,5,52,52,85,0.0,NaN

In [20]:
x = x.dropna()

In [21]:
x1 = x[x['ArrDelayMinutes'] < 100]

In [22]:
x2 = x[(x['ArrDelayMinutes'] >= 100) & (x['ArrDelayMinutes'] < 200)]

In [23]:
x3 = x[(x['ArrDelayMinutes'] >= 200) & (x['ArrDelayMinutes'] < 500)]
x4 = x[(x['ArrDelayMinutes'] >= 500) & (x['ArrDelayMinutes'] < 1000)]
x5 = x[(x['ArrDelayMinutes'] >= 1000)]

In [24]:
x1

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15,ArrDelayMinutes
0,2016,4,12,1,11298,12892,1630.0,1758,19,169,...,10,1014,0,59,10,69,67,73,0.0,51.0
1,2016,4,12,1,11298,12892,1650.0,1741,19,169,...,10,1014,0,59,10,69,67,73,1.0,0.0
2,2016,4,12,1,13930,12892,1502.0,1747,24,257,...,10,1014,0,59,10,69,67,73,0.0,0.0
3,2016,4,12,1,13303,12892,1424.0,1719,15,140,...,10,1014,0,59,10,69,67,73,0.0,0.0
4,2016,4,12,1,14771,12892,1543.0,1725,10,117,...,10,1014,0,59,10,69,67,73,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851328,2017,1,2,11,11298,14107,2319.0,58,20,188,...,10,1015,100,51,6,68,68,54,0.0,6.0
1851329,2017,1,2,25,11298,14107,2325.0,58,6,122,...,10,1014,100,32,10,57,57,39,0.0,0.0
1851330,2017,1,2,19,12889,12892,548.0,655,3,201,...,2,1010,100,51,5,52,52,95,0.0,0.0
1851331,2017,1,2,18,12889,12892,548.0,655,18,138,...,8,1000,100,50,32,53,49,92,0.0,0.0
1851332,2017,1,2,25,12889,12892,546.0,655,3,97,...,10,1020,36,45,13,47,45,93,0.0,0.0

In [25]:
y1 = x1['ArrDelayMinutes']

In [26]:
x1 = x1.drop(['ArrDelayMinutes'],axis = 1)

In [27]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x1, y1, test_size = 0.20, random_state = 40)

In [28]:
extTree = ExtraTreesRegressor(random_state = 12)

In [29]:
extTree.fit(x_train,y_train)

ExtraTreesRegressor(random_state=12)

In [30]:
x_test = x_test.loc[x_test['NewArrDel15'] == 1.0]

In [31]:
x_test

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,precipMM_y,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15
1724031,2017,2,5,5,14771,14107,849.0,905,17,287,...,0.0,10,1010,0,34,10,85,86,15,1.0
654863,2016,3,9,29,13930,14107,10.0,2345,28,44,...,0.0,10,1016,33,59,10,82,83,39,1.0
1623978,2017,1,3,24,12892,11057,1310.0,2056,13,218,...,0.0,10,1028,46,52,15,60,60,84,1.0
1014482,2017,3,9,25,14771,14747,645.0,856,2,241,...,0.0,10,1020,99,51,6,59,59,73,1.0
186888,2016,1,3,24,11618,10397,1923.0,2205,17,95,...,0.3,10,1011,94,58,35,67,67,74,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663990,2017,2,4,27,14771,14107,2004.0,2115,27,299,...,0.0,10,1003,0,41,30,83,84,21,1.0
1780909,2017,2,5,2,12478,14771,722.0,1050,24,239,...,0.0,10,1015,0,52,12,67,68,58,1.0
1718853,2017,2,5,3,11292,14747,1300.0,1440,22,4,...,0.0,10,1020,37,57,9,67,69,71,1.0
1839388,2017,1,2,13,10397,11292,258.0,2355,7,308,...,0.0,10,1025,81,15,18,35,30,44,1.0
843874,2016,2,6,17,13930,14771,1251.0,1452,14,52,...,0.0,10,1019,63,57,17,65,65,72,1.0

In [32]:
arr = []
for i in x_test.index:
    arr.append(y_test[i])
y_test = pd.Series(arr)

In [33]:
y_test

0         0.0
1         0.0
2         0.0
3        13.0
4        88.0
         ...
66864     0.0
66865     0.0
66866     0.0
66867     0.0
66868    28.0
Length: 66869, dtype: float64

In [34]:
pred_extTree = extTree.predict(x_test)

In [35]:
print("R2: " , r2_score(y_test,pred_extTree))
print("Mean Square Error: ", mean_squared_error(y_test,pred_extTree))
print("Mean Absolute Error: ", mean_absolute_error(y_test,pred_extTree))

R2:  -0.09531098534422044
Mean Square Error:  569.6535618937774
Mean Absolute Error:  17.453257937160718

In [36]:
x2

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15,ArrDelayMinutes
114,2016,4,12,1,10397,13204,1806.0,1940,13,292,...,10,1015,40,66,14,82,81,61,0.0,162.0
307,2016,4,12,4,12892,10397,1253.0,1945,5,101,...,6,1018,100,46,25,47,42,96,0.0,135.0
320,2016,4,12,4,11298,12889,1628.0,1727,16,18,...,10,1017,16,22,5,54,53,30,0.0,109.0
331,2016,4,12,4,11618,12889,1425.0,1714,12,322,...,10,1017,16,22,5,54,53,30,0.0,146.0
337,2016,4,12,4,14107,13930,1503.0,1911,3,87,...,5,1015,90,32,10,33,29,98,1.0,128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851079,2017,1,2,16,14107,11298,2246.0,204,5,59,...,10,1013,3,42,29,54,51,64,0.0,182.0
1851111,2017,1,2,17,14107,11298,148.0,459,5,63,...,10,1013,12,41,30,51,48,69,0.0,117.0
1851117,2017,1,2,23,14107,11298,151.0,459,20,274,...,10,1004,0,54,26,64,64,72,0.0,196.0
1851263,2017,1,2,8,12892,11298,1907.0,8,8,264,...,10,1023,1,30,28,49,44,48,0.0,138.0
1851294,2017,1,2,7,13930,11298,2215.0,117,25,280,...,10,1006,1,44,16,67,67,39,0.0,143.0

In [37]:
y2 = x2['ArrDelayMinutes']

In [38]:
x2 = x2.drop(['ArrDelayMinutes'],axis = 1)

In [39]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x2, y2, test_size = 0.20, random_state = 40)

In [40]:
extTree.fit(x_train,y_train)

ExtraTreesRegressor(random_state=12)

In [41]:
x_test = x_test.loc[x_test['NewArrDel15'] == 1.0]

In [42]:
x_test

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,precipMM_y,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15
775508,2016,3,8,15,14771,12892,2325.0,17,11,262,...,0.0,10,1011,54,64,9,69,70,88,1.0
817073,2016,2,6,2,14107,11298,1546.0,1929,14,265,...,3.8,6,1013,100,70,21,75,75,85,1.0
613631,2016,3,7,15,11298,13930,1135.0,1243,15,185,...,0.0,10,1015,61,58,21,73,73,60,1.0
176482,2016,1,3,5,11298,14771,1914.0,2039,19,138,...,7.8,6,1006,100,57,53,52,53,86,1.0
1103480,2017,3,7,15,11292,11618,1601.0,2119,19,165,...,0.1,10,1013,56,66,23,84,84,72,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726492,2016,3,8,31,12892,11292,1601.0,1855,17,249,...,0.0,10,1015,100,54,25,78,78,45,1.0
1720856,2017,2,5,4,11298,13204,1557.0,1936,24,337,...,2.3,8,1009,18,63,33,83,84,50,1.0
1839206,2017,1,2,25,10397,11618,1920.0,2029,24,293,...,1.9,8,999,78,51,32,53,49,92,1.0
1630163,2017,2,4,2,11292,12892,2029.0,2133,14,100,...,0.0,10,1015,100,54,10,56,57,86,1.0
810215,2016,2,6,15,13930,12478,2351.0,2350,18,255,...,0.0,10,1011,93,59,26,67,67,82,1.0

In [43]:
arr = []
for i in x_test.index:
    arr.append(y_test[i])
y_test = pd.Series(arr)

In [44]:
y_test

0       126.0
1       117.0
2       174.0
3       131.0
4       134.0
        ...
4157    144.0
4158    129.0
4159    120.0
4160    139.0
4161    137.0
Length: 4162, dtype: float64

In [45]:
pred_extTree = extTree.predict(x_test)

In [46]:
print("R2: " , r2_score(y_test,pred_extTree))
print("Mean Square Error: ", mean_squared_error(y_test,pred_extTree))
print("Mean Absolute Error: ", mean_absolute_error(y_test,pred_extTree))

R2:  -0.11622576617306346
Mean Square Error:  839.2931495675157
Mean Absolute Error:  24.158983661701107

In [47]:
x3

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15,ArrDelayMinutes
333,2016,4,12,4,13303,13930,1815.0,1912,20,109,...,5,1015,90,32,10,33,29,98,1.0,219.0
335,2016,4,12,4,14771,13930,1309.0,1922,5,251,...,5,1015,90,32,10,33,29,98,1.0,337.0
341,2016,4,12,4,11057,13930,1924.0,1901,9,65,...,5,1015,90,32,10,33,29,98,1.0,285.0
372,2016,4,12,4,13930,11618,2115.0,2138,5,165,...,10,1022,100,35,8,39,37,87,1.0,290.0
429,2016,4,12,4,11298,12266,1648.0,1806,16,18,...,7,1015,100,52,16,53,51,95,0.0,248.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850510,2017,1,2,18,10397,11618,2219.0,29,5,173,...,10,1004,68,37,31,49,48,54,0.0,244.0
1850612,2017,1,2,5,14771,14747,2302.0,114,30,203,...,2,991,100,32,11,33,28,98,0.0,205.0
1850656,2017,1,2,19,14747,13204,2242.0,705,17,185,...,1,1020,93,59,5,61,61,95,0.0,313.0
1850997,2017,1,2,18,11298,13930,610.0,740,20,173,...,10,1005,0,38,32,42,35,89,0.0,496.0
1851307,2017,1,2,4,14771,14747,545.0,755,16,192,...,8,1001,100,40,31,43,36,95,0.0,277.0

In [48]:
y3 = x3['ArrDelayMinutes']

In [49]:
x3 = x3.drop(['ArrDelayMinutes'],axis = 1)

In [50]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x3, y3, test_size = 0.20, random_state = 40)

In [51]:
extTree.fit(x_train,y_train)

ExtraTreesRegressor(random_state=12)

In [52]:
x_test = x_test.loc[x_test['NewArrDel15'] == 1.0]

In [53]:
x_test

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,precipMM_y,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15
942643,2017,4,12,3,11292,14747,1320.0,1432,18,217,...,0.0,4,1023,100,38,11,40,39,92,1.0
252692,2016,1,2,15,11057,13930,2117.0,1820,7,82,...,0.0,3,1014,75,27,11,29,24,95,1.0
1183300,2017,1,1,7,10397,11298,1715.0,1754,23,321,...,0.0,10,1041,0,18,4,42,40,38,1.0
68574,2016,4,12,17,10397,13204,1044.0,1136,13,138,...,0.3,3,1022,67,64,11,71,70,83,1.0
197559,2016,1,3,24,11292,11298,1605.0,1900,13,193,...,0.0,10,1016,0,35,18,60,60,41,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503131,2017,4,10,12,12478,14771,1713.0,1935,19,72,...,0.0,10,1018,0,52,23,64,64,65,1.0
736118,2016,3,8,1,14107,12892,1004.0,1135,5,223,...,0.0,10,1014,49,67,11,76,73,82,1.0
287025,2016,1,2,19,13930,14771,1734.0,1850,39,241,...,1.2,9,1022,100,54,14,58,56,89,1.0
665354,2016,3,9,28,12892,13930,1137.0,1620,6,143,...,1.0,10,1014,78,50,36,62,61,64,1.0
1549316,2017,4,10,24,12478,14771,1726.0,2006,30,175,...,0.0,10,1017,19,58,20,79,79,49,1.0

In [54]:
arr = []
for i in x_test.index:
    arr.append(y_test[i])
y_test = pd.Series(arr)

In [55]:
y_test

0       286.0
1       232.0
2       243.0
3       200.0
4       255.0
        ...
1166    204.0
1167    304.0
1168    230.0
1169    370.0
1170    437.0
Length: 1171, dtype: float64

In [56]:
pred_extTree = extTree.predict(x_test)

In [57]:
print("R2: " , r2_score(y_test,pred_extTree))
print("Mean Square Error: ", mean_squared_error(y_test,pred_extTree))
print("Mean Absolute Error: ", mean_absolute_error(y_test,pred_extTree))

R2:  -0.03495841513517961
Mean Square Error:  4011.3058655849704
Mean Absolute Error:  50.5802561912895

In [58]:
x4

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15,ArrDelayMinutes
2070,2016,4,12,17,11298,11292,1716.0,1737,17,298,...,10,1032,5,-6,12,-3,-12,85,1.0,510.0
4936,2016,4,12,18,10397,11618,1859.0,2001,20,321,...,10,1026,71,28,33,40,36,71,1.0,689.0
5742,2016,4,12,30,12892,12478,1309.0,2134,7,64,...,10,1012,0,28,34,36,26,75,0.0,638.0
7113,2016,4,12,15,12478,13204,1556.0,1859,35,291,...,10,1021,70,56,19,69,68,66,1.0,535.0
7311,2016,4,12,17,11292,12892,1742.0,1810,6,60,...,10,1021,1,42,8,59,57,51,1.0,572.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1842397,2017,1,2,24,13204,10397,612.0,750,13,12,...,10,1011,0,61,8,66,65,87,0.0,639.0
1845841,2017,1,2,9,13930,11057,1012.0,1313,23,294,...,10,1017,0,24,30,45,37,46,0.0,616.0
1847048,2017,1,2,22,12266,13204,1954.0,2300,4,219,...,5,1006,100,64,17,65,65,96,0.0,830.0
1848714,2017,1,2,3,10397,12892,1127.0,1332,14,311,...,10,1019,100,52,11,61,59,78,0.0,522.0
1849244,2017,1,2,19,14747,13303,2204.0,646,17,185,...,10,1018,54,65,21,73,72,79,0.0,726.0

In [59]:
y4 = x4['ArrDelayMinutes']

In [60]:
x4 = x4.drop(['ArrDelayMinutes'],axis = 1)

In [61]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x4, y4, test_size = 0.20, random_state = 40)

In [62]:
extTree.fit(x_train,y_train)

ExtraTreesRegressor(random_state=12)

In [63]:
x_test = x_test.loc[x_test['NewArrDel15'] == 1.0]

In [64]:
x_test

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,precipMM_y,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15
339917,2016,2,5,28,13930,13204,1915.0,2153,20,189,...,3.9,8,1017,99,73,14,78,78,84,1.0
1567929,2017,1,3,30,12266,12889,2251.0,2248,10,244,...,0.0,9,1003,100,20,57,57,59,22,1.0
1264742,2017,2,6,21,12478,12889,2136.0,2305,19,246,...,0.0,10,1002,0,22,20,99,100,6,1.0
1179077,2017,1,1,7,12266,14771,731.0,942,19,353,...,4.6,7,1011,100,49,49,54,46,88,1.0
1470330,2017,4,11,15,11298,14771,1836.0,2041,18,118,...,0.0,9,1012,64,48,42,60,60,65,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086309,2017,3,7,1,11298,13303,1959.0,2242,13,189,...,0.2,10,1020,11,75,20,85,85,73,1.0
820133,2016,2,6,23,13204,12478,2005.0,2123,14,196,...,0.1,10,1010,0,66,10,63,63,82,1.0
324970,2016,2,5,4,13303,13930,1659.0,1915,22,231,...,0.1,10,1011,79,43,29,49,43,81,1.0
869520,2016,1,1,6,12892,14771,2138.0,2215,24,232,...,0.9,10,1007,100,50,10,53,51,92,1.0
1642495,2017,2,4,10,14107,12892,2226.0,2305,16,279,...,0.0,10,1016,0,51,7,57,59,72,1.0

In [65]:
arr = []
for i in x_test.index:
    arr.append(y_test[i])
y_test = pd.Series(arr)

In [66]:
y_test

0     649.0
1     593.0
2     880.0
3     651.0
4     960.0
      ...
61    811.0
62    844.0
63    776.0
64    881.0
65    764.0
Length: 66, dtype: float64

In [67]:
pred_extTree = extTree.predict(x_test)

In [68]:
print("R2: " , r2_score(y_test,pred_extTree))
print("Mean Square Error: ", mean_squared_error(y_test,pred_extTree))
print("Mean Absolute Error: ", mean_absolute_error(y_test,pred_extTree))

R2:  0.2982426898987739
Mean Square Error:  16023.015874242425
Mean Absolute Error:  107.80196969696969

In [69]:
x5

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15,ArrDelayMinutes
660,2016,4,12,6,12892,13303,1241.0,2033,5,187,...,10,1016,15,75,21,80,80,79,0.0,1042.0
10070,2016,4,12,17,13204,10397,1451.0,1558,13,167,...,10,1017,94,48,19,56,52,80,1.0,1212.0
19660,2016,4,12,18,13930,10397,845.0,944,28,309,...,10,1016,100,64,30,67,66,92,1.0,1101.0
31628,2016,4,12,11,13204,11298,1144.0,1345,15,73,...,10,1012,100,53,36,60,56,82,0.0,2028.0
34667,2016,4,12,23,12266,14747,1928.0,2225,17,162,...,7,1008,100,36,5,37,36,97,0.0,1006.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1790090,2017,1,2,3,14771,12892,1218.0,1235,21,216,...,10,1020,100,52,13,60,58,77,1.0,1267.0
1801487,2017,1,2,22,12892,13930,747.0,1404,3,270,...,10,1006,100,56,27,62,60,84,0.0,1442.0
1822533,2017,1,2,6,11298,13930,1539.0,1810,29,193,...,10,1008,68,43,18,48,44,87,0.0,1043.0
1822593,2017,1,2,8,12889,14107,1250.0,1500,3,103,...,10,1019,0,53,9,78,77,44,0.0,1296.0
1830159,2017,1,2,23,12892,11618,1047.0,1848,18,338,...,7,1010,0,59,12,65,64,83,0.0,1139.0

In [70]:
y5 = x5['ArrDelayMinutes']

In [71]:
x5 = x5.drop(['ArrDelayMinutes'],axis = 1)

In [72]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x5, y5, test_size = 0.20, random_state = 40)

In [73]:
extTree.fit(x_train,y_train)

ExtraTreesRegressor(random_state=12)

In [74]:
x_test = x_test.loc[x_test['NewArrDel15'] == 1.0]

In [75]:
x_test

,Year,Quarter,Month,DayofMonth,OriginAirportID,DestAirportID,DepTime,CRSArrTime,windspeedKmph_x,winddirDegree_x,...,precipMM_y,visibility_y,pressure_y,cloudcover_y,DewPointF_y,WindGustKmph_y,tempF_y,WindChillF_y,humidity_y,NewArrDel15
1223973,2017,1,1,2,11292,12266,1931.0,2214,8,57,...,0.0,8,1013,22,65,8,70,70,86,1.0
1668697,2017,2,4,5,11298,13930,1737.0,1951,29,321,...,1.2,5,1004,100,35,49,37,30,80,1.0
1419922,2017,4,11,26,13930,14771,902.0,1105,11,272,...,2.5,9,1015,100,57,38,58,56,95,1.0
1273755,2017,2,6,7,11057,13930,1618.0,1742,13,99,...,0.0,10,1018,0,45,19,70,72,38,1.0
949913,2017,4,12,17,13303,11057,1638.0,1849,17,101,...,0.0,7,1024,98,33,10,48,47,55,1.0
764707,2016,3,8,4,13204,11298,2012.0,2115,13,227,...,0.0,10,1010,14,63,20,93,94,28,1.0
849353,2016,2,6,28,12266,13303,2254.0,2030,4,49,...,2.3,8,1016,91,76,18,84,84,77,1.0
591689,2016,3,7,25,12478,13303,2055.0,1817,16,231,...,0.0,10,1017,28,76,16,90,89,68,1.0
965000,2017,4,12,8,12892,10397,1532.0,1800,11,346,...,3.4,6,1015,100,32,15,33,27,97,1.0
1246138,2017,2,6,24,11298,12892,1358.0,1428,18,51,...,0.0,10,1011,0,61,20,68,69,77,1.0
805010,2016,2,6,25,11298,13930,1605.0,1818,23,191,...,0.0,10,1014,0,67,24,84,84,51,1.0
1345667,2017,3,8,18,14771,12478,1248.0,2008,9,257,...,1.0,9,1009,91,76,44,79,78,93,1.0
1684769,2017,2,4,8,10397,12892,2056.0,1550,14,316,...,0.0,10,1016,0,48,35,61,62,64,1.0
813996,2016,2,6,20,14107,12892,2134.0,2307,8,260,...,0.0,10,1011,69,66,14,75,75,78,1.0

In [76]:
arr = []
for i in x_test.index:
    arr.append(y_test[i])
y_test = pd.Series(arr)

In [77]:
y_test

0     1090.0
1     1208.0
2     1711.0
3     1109.0
4     1071.0
5     1128.0
6     1119.0
7     1104.0
8     1085.0
9     1055.0
10    1126.0
11    1166.0
12    1161.0
13    1007.0
dtype: float64

In [78]:
pred_extTree = extTree.predict(x_test)

In [79]:
print("R2: " , r2_score(y_test,pred_extTree))
print("Mean Square Error: ", mean_squared_error(y_test,pred_extTree))
print("Mean Absolute Error: ", mean_absolute_error(y_test,pred_extTree))

R2:  0.2288024031640209
Mean Square Error:  20255.268799999998
Mean Absolute Error:  109.03857142857143